<table style="width: 30%;float: right;">
	<thead> 
	<tr>    
		<th width="75%">Name</th>
		<th width="25%">Interviews</th>
	</tr>   
	</thead>
	<tbody>
	<% @agents_interviews.values.each do |v| %>
		<tr>
			<td><%= v[:name] %></td>
			<td><%= v[:interviews] %></td>
		</tr>
	<% end %>
	</tbody>
</table>
