<div class="panel">
<h3>Live Statistics</h3>
<div class="icon-bar four-up">
	<a class="item">
		<i>5</i>
		<label>Agents logged in</label>
	</a>
	<a class="item">
                <i>1</i>
                <label>Agents in calls</label>
        </a>
	<a class="item">
                <i>3</i>
                <label>Agents waiting</label>
        </a>
	<a class="item">
                <i>1</i>
                <label>Agents paused</label>
        </a>
</div>
	<table role="grid">
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>MM:SS</th>
			<th>Interviews completed</th>
			<th>Interviews completed offgrid</th>
			<th>Appointments made</th>
		</tr>
		<tr>
			<td>Rand</td>
			<td>INCALL</td>
			<td>01:24</td>
			<td>25</td>
			<td>40</td>
			<td>10</td>
		</tr>
                <tr>
                        <td>Rand</td>
                        <td>INCALL</td>
                        <td>01:24</td>
                        <td>25</td>
                        <td>40</td>
                        <td>10</td>
                </tr>
                <tr>
                        <td>Rand</td>
                        <td>INCALL</td>
                        <td>01:24</td>
                        <td>25</td>
                        <td>40</td>
                        <td>10</td>
                </tr>
                <tr>
                        <td>Rand</td>
                        <td>INCALL</td>
                        <td>01:24</td>
                        <td>25</td>
                        <td>40</td>
                        <td>10</td>
                </tr>
	</table>
</div>
